{% extends 'base.html' %}

{% block mi_contenedor %}
    <div class="row row-cols-1 row-cols-md-2 g-4 pt-5">
        <div class="col mx-auto">
            <div class="card bg-dark text-white-50" style="width: 35rem;">
                <style>
                    body {background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))}
                </style>
                <h6 class="card-subtitle pt-3 text-center text-white">CONTACTO</h6>
                <div class="card-body">
                    <form action="" method="POST">{% csrf_token %}
                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="name" aria-describedby="nameHelp">
                                <div id="nameHelp" class="form-text"></div>
                              </div>
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Teléfono</label>
                                <input type="text" class="form-control" id="phono" aria-describedby="phonoHelp">
                                <div id="phonoHelp" class="form-text"></div>
                              </div>
                              <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Mensaje</label>
                                <input type="textarea" class="form-control" id="phono" aria-describedby="messageHelp">
                                <div id="messageHelp" class="form-text"></div>
                              </div>
                        <div class="row pt-3">
                        <div class="col-1"></div>
                        <button type="submit" class="btn btn-outline-light btn-lg px-5 col-4 gap-2">Enviar</button>
                        <div class="col-1"></div>
                        <a class="btn btn-outline-light btn-lg px-5 col-4" href="{% url 'home' %}">Volver</a>
                        </div>
                        </form>
                  </div>
                </div>
            </div>
        </div>
{% endblock %}
